<nav class="navbar">
    <span class="logo">DAILY JOURNAL</span>
    <ul class="navlinks">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About me</a></li>
      <li><a href="/contact">Contact me</a></li>
      <li><a href="/compose">New journal</a></li>
    </ul>
  </nav>