<figure>
  <img src="./images/girl.jpg" alt="post image" />
  <figcaption>welcome image</figcaption>
</figure>
<div class="welcome">
  <h1>Welcome To <%= typeof user != "undefined" ? user : "My" %> Journal</h1>
</div>
