@import url(./default.css);
@import url(./navbar.css);
@import url(./footer.css);

body {
    height: 100vh;
}

main {
    margin: 3rem 7rem;
    height: 66vh;
}

@media (max-width: 560px) {
    main {
        margin: 1.5rem 2.5rem;
    }
  }
  
