<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("../partials/head", {css : "css/about.css"}); %>
  </head>
  <body>
    <header><%- include ("../partials/header"); %></header>
    <main>
      <h1>About</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
        nesciunt sunt odio non esse reprehenderit fuga id! Perspiciatis
        consequatur explicabo odio exercitationem maiores quia praesentium
        temporibus perferendis! Repudiandae, possimus minima!
      </p>
    </main>
    <footer class="footer"><%- include ("../partials/footer"); %></footer>
  </body>
</html>
